extends add_problem

block content_edit
    script.
        function filter(sample) {
            sample = sample.replace(/&amp;/g, '&');
            sample = sample.replace(/&#br;/g, '\n');
            sample = sample.replace(/&#39;/g, '\'');
            sample = sample.replace(/&#34;/g, '\"');
            return sample;
        }

        function add_default_value() {
            var name = document.getElementById('name');
            var time = document.getElementById('time');
            var memo = document.getElementById('memo');
            var description = document.getElementById('description');

            name.value = '#{name}';
            time.value = '#{time}';
            memo.value = '#{memory}';
            console.log('#{description}');
            description.defaultValue = '#{description}';

            name.value = filter(name.value);
            time.value = filter(time.value);
            memo.value = filter(memo.value);
            description.defaultValue = filter(description.defaultValue);

            var string_samples = "#{sample}";
            var samples = JSON.parse(string_samples);

            for (var key in samples) {
                add_sample_cases();
                var num_samples = parseInt(document.getElementById('num_sample').value);
                var input = document.getElementByName('input_sample_' + num_samples);
                var output = document.getElementByName('output_sample_' + num_samples);

                input.defaultValue = samples[key]['input'];
                output.defaultValue = samples[key]['output'];
                input.defaultValue = filter(input.defaultValue);
                output.defaultValue = filter(output.defaultValue);
            }
        }

        add_default_value();