extends layout

block content
    script.
        function delete_problem() {
            if (confirm('Are you sure you want to delete this problem?')) {
                var form = document.createElement('form');
                var input = document.createElement('input');
                form.method = 'POST';
                form.action = '/delete_problem';

                input.value = !{id};
                input.name = 'id';

                form.appendChild(input);
                document.body.appendChild(form);

                form.submit();
            }
        }

    nav(class = 'sub-bar' id = 'sub_bar')
        ul
            li: a(href = '/edit_problem/' + id id = 'edit_problem' style = 'display: none;') Edit
            li: a(button = 'delete_problem' id = 'delete_problem' style = 'display: none;' onclick = 'delete_problem()') Delete
            li: a(href = '/submit_problem' id = 'submit_problem') Submit

    script.
        function get_username(cookie) {
            var pos = cookie.indexOf('**');
            return (cookie.substring(0, pos)).substring(5);
        }

        function display_permission() {
            var t = document.getElementById('edit_problem');
            var cookie = document.cookie;
            var author = '#{author}';
            var username = undefined;
            if (cookie != '' && cookie != undefined)
                username = get_username(cookie);
            if (username != undefined && username == author) {
                var delete_problem = document.getElementById('delete_problem');
                var edit_problem = document.getElementById('edit_problem');
                delete_problem.style.display = 'block';
                edit_problem.style.display = 'block';
            }
        }

        display_permission();

    h1(class = 'header' id = 'name')= name
    h2(style = 'text-align: center;' id = 'time')= 'Time Limit: ' + time
    h2(style = 'text-align: center;' id = 'memo')= 'Memory Limit: ' + memory
    p(style = 'white-space: pre-wrap; width: 80em; margin-left: 2em;')= description

    each test in sample
        div(class = 'container' style = 'margin-left: 3em; margin-top: 2em; margin-bottom: 2em;')
            div(class = 'sample-box')
                a(style = 'color: black; font-weight: bold; font-size: 1em;') Input
                br
                p(style = 'white-space: pre-wrap;')= test.input
            div(class = 'sample-box')
                a(style = 'color: black; font-weight: bold; font-size: 1em;') Output
                br
                p(style = 'white-space: pre-wrap;')= test.output