extends layout

block content
    h1(class = 'header')= name
    h2(style = 'text-align: center;')= 'Time Limit: ' + time
    h2(style = 'text-align: center;')= 'Memory Limit: ' + memory
    p(style = 'white-space: pre-wrap; width: 80em; margin-left: 2em;')= description

    each test in sample
        div(class = 'container' style = 'margin-left: 3em; margin-top: 2em; margin-bottom: 2em;')
            div(class = 'sample-box')
                a(style = 'color: black; font-weight: bold; font-size: 1em;') Input
                br
                p(style = 'white-space: pre-wrap;')= test.input
            div(class = 'sample-box')
                a(style = 'color: black; font-weight: bold; font-size: 1em;') Output
                br
                p(style = 'white-space: pre-wrap;')= test.output